dataset/*
lesson03/dataset/*
lesson03/training_checkpoints/*
lipsync
lesson04/dataset/*
lesson05/dataset/*
lesson05/keras-retinanet/*
lesson05/keras-retinanet
lesson05/model/*
lesson05/snapshots/*
*.pdf
geo_net
geo_net/*
lesson06/saved_model/*
